.body_layer{
	position:absolute;
	left:13%;
	top:20%;
	width:85%;
	height:70%;
}
.form_content{
	position:absolute;
	left:30%;
	width:90%;
	height:100%;
	
}
.layui-input{
	width:200%;
}
.layui-textarea{
	width:35%;
}
.sub_btn{
	position:absolute;
	left:8%;
	top:30%;
	width:200px;
}
