html body{
	background-image:url(../images/notice.jpg);
}
.tabBody{
	position:absolute;
	width:80%;
	height:100%;
	left: 15%;
	top: 8%;
}
.layui-table th,td{
	text-align:center;
	
}
#demo1{
	position:absolute;
	left:50%;
	top:80%;
}
.del{
	cursor:pointer;
}
.headStyle{
	font-weight:bold;
}
.layui-table td{
	border-style:dashed;
	border-left:0px;
	border-right:0px;
}
.layui-table{
	background-color:rgba(0,0,0,0.5);
	color:#ffffff;
}
.layui-table tbody tr:hover {background-color: #0080c0}
a{
	color:#fff;
}