<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8" />
<title>公告</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="layui/css/layui.css" />
<link rel="stylesheet" href="styles/notice.css" />
<script src="scripts/jquery.min.js"></script>
<script src="scripts/notice.js"></script>
<script type="text/javascript" src="scripts/cookie_util.js"></script>
<script src="layui/layui.js"></script>
</head>
<body class="layui-layout-body">
	<div class="com"></div>
	<div class="layui-form body_content">
		<h1 id="span_title">通知/公告中心</h1>
		<table class="layui-table notice_list">

		</table>
		<div class="paging" id="demo1">
			<fieldset class="layui-elem-field layui-field-title"
				style="margin-top: 30px;">
				<legend>总页数大于页码总数</legend>
			</fieldset>
		</div>
	</div>
</body>
</html>